html, body {
    background-color: rgb(129, 161, 189);
    margin: 0;
    height: 100%;
}
.flexbox-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* 
Notes:
    - This sets up the rows that we will populate with content.
    - Width is set to 100% so that the background color reaches all the way across the screen
    - The rows need to have their flex-grow property set individually because headers will take less
        space on the page than the actual content rows
*/
.flexbox-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* 
    Notes:
    - This is the box that actually contains our content elements
    - we need to justify content on the section-content elements
        as they wont all have the same. For instance, header and
        footer will be space-between justified, and the interior
        sections will be center justified
*/
* .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}


/* Sets header content to be spaced out */
.header .content {
    justify-content: space-between;
}

.content .text-box {
    border: 3px solid black;
    height: 120px;
    width: 200px;
}

/* Sets flex-grow to 1 or 0 depending on what sections we want to fill space */
.flexbox-row.intro-section,.flexbox-row.information-section,.flexbox-row.quotation-section,.flexbox-row.signup-section{
    flex-grow: 1;
}
.flexbox-row.header,.flexbox-row.footer{
    flex-grow: 0;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
