html, body {
    margin: 0;
    height: 100%;
}
.flexbox-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: aquamarine;
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-panel {
    background-color: lightcoral;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.intro-panel-text {
    background-color: rgb(99, 7, 7);
    border: 3px solid rgb(91, 43, 153);
    flex-grow: 1;
}

.intro-panel-image {
    background-color: rgb(131, 38, 38);
    border: 3px solid rgb(14, 143, 36);
    flex-grow: 1;
}

.information-panel {
    background-color: azure;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.quotation-panel {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.sign-up-panel {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.footer {
    background-color: darkcyan;
    display: flex;
    justify-content: space-between;
}


.flex-box-item {
    width: 100%;
    display: flex;
    /* border: 3px solid black; */
}

.left-item {
    padding-left: 10%;
}
.right-item {
    padding-right: 10%;
    /* border: 3px solid green; */
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: auto;
}
.links ul{
    display: flex;
    /* border: 2px solid orange; */
    list-style-type: none;
}

.links a {
    text-decoration: none;
    color: black;
    padding-left: 10px; /*TODO I think this is an ugly fix?*/
}

