html, body {
    margin: 0;
    height: 100%;
    background-color: bisque;
}

.flexbox-container {
    /* structure */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
    /* style */
    background-color: lightblue;
}

.content {
    /* structure */
    width: 80%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    /* style */
    background-color: lightgrey;
    /* border: 3px solid red; */
}

.content.header,.content.footer {
    /* structure */
    flex-grow: 0;
}
.header {
    /* structure */
    justify-content: space-between;
    /* style */
    background-color: #1F2937;
}

.logo {
    /* structure */
        /* from parent flex box */
        height: 100%;
        flex-grow: 1;
        flex-basis: 0;

        /* as a flex box */
        display: flex;
        justify-content: left;
        align-items: center;
    /* style */
    /* border: 3px solid blue; */
}
.logo img {
    padding: 5px;
    border-radius: 50%;
    height: 50px;
}
.links {
    /* structure */
        /* from parent flex box */
        height: 100%;
        flex-grow: 1;
        flex-basis: 0;

        /* as a flex box */
        display: flex;
        /* justify-content: space-between; */
        align-items: center;

    /* style */
}

.links a {
    /* structure */
    text-align: right;
        /* from parent flex box */
        flex-grow: 1;
        /* as a flex box */
    /* style */
    font-family: "Hero Main";
    font-size: 24px;
    color: #E5E7EB;
    text-decoration: none;
    padding-right: 20px;
}

.intro {
    /* structure */
        /* from parent flex box */
        /* as a flex box */
    /* style */
    background-color: #1F2937;
}

.info {
    /* structure */
        /* from parent flex box */
        /* as a flex box */
    /* style */
    background-color: whitesmoke;

}

.quote {
    /* structure */
        /* from parent flex box */
        /* as a flex box */
    /* style */
    background-color: #E5E7EB;
}

.signup {
    /* structure */
        /* from parent flex box */
        /* as a flex box */
    /* style */
    background-color: whitesmoke;
    /* This is for the button background-color: #3883F6; */
}

.footer {
    /* structure */
        /* from parent flex box */
        /* as a flex box */
    /* style */
}


/* structure */
    /* from parent flex box */
    /* as a flex box */
/* style */
