html, body {
    margin: 0;
    height: 100%;
    font-family: Roboto, 'Courier New', Courier, monospace;
}

.flexbox-container {
    /* Structure */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: center;
}

.content {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .content {
    justify-content: space-between;
}

.header .content .links a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin-left: 10px;
}

.header, .intro {
    background-color: #1f2937;
}

.intro .content {
    /* border: 3px solid red; */
    margin: 30px; 
}

.intro .content .text {
    flex-grow: 1;
    flex-basis: 0;
}
.intro .content .text .bold {
    padding: 0;
    margin: 0;
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}
.intro .content .text .subtext {
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}
.intro .content .text button {
    background-color: #3882f6;
    border-radius: 3px;
    border: none;
    color: #E5E7EB;
    padding: 5px 40px;
    margin-top: 3px;
}
.intro .content .image {
    flex-grow: 1;
    flex-basis: 0;
}
.intro .content .image img {
    width: 100%;
}

.information {
    /* Structure */
        /* From Parent Flex Box */
        flex-grow: 1;
        /* As a Flex Box */
    /* Style */
    background-color: white;
}

.information .info-header{
    margin: 3px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
.quote {
    /* Structure */
        /* From Parent Flex Box */
        flex-grow: 1;
        /* As a Flex Box */
    /* Style */
    background-color: #E5E7EB;
}

.signup {
    flex-grow: 1;
}

.quote .content {
    /* Structure */
        /* From Parent Flex Box */
        flex-direction: column;
        flex-grow: 1;
        /* As a Flex Box */
    /* Style */
}
.quotation, .quotation-source {
    width: 80%;
}
.quotation {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.quotation-source {
    text-align: right;
    font-weight: 1000;
}

.information .content {
    flex-direction: column;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid red; */
}
.card p {
    text-align: center;
    color: #1f2937;
    font-weight: 400;
    font-style: italic;
}

.card img {
    width: 60%;
    border-radius: 15px;
    border: 2px solid #3882f6;
}

.intro-text button {
    width: 40%;
}

.logo {
    border-radius: 50%;
    width: 50px;
}

.signup .content {
    background-color: #3882f6;
    margin: 10px;
    border-radius: 5px;
    justify-content: space-around;
}

.content .signup-text {
    color: white;
}

.content .signup-text .bold {
    font-weight: 800;
}

.signup button {
    background-color: #3882f6;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 20px;
}




/* Structure */
    /* From Parent Flex Box */
    /* As a Flex Box */
/* Style */
