html, body {
    margin: 0;
    height: 100%;
}

.flexbox-container {
    /* Structure */
    height: 100%;
        /* As a Flex Box */
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    /* Style */
    background-color: bisque;
    border: 3px solid red;
}

.row {
    /* Structure */
        /* From Parent Flex Box */
        /* As a Flex Box */
        display: flex;
        justify-content: center;
    /* Style */
    border: 3px solid blue;
}

.content {
    /* Structure */
        /* From Parent Flex Box */
        flex-basis: 80%;
        /* As a Flex Box */
        display: flex;
        align-items: center;
        justify-content: center;
    /* Style */
    border: 3px solid green;
}

.header .content {
    /* Structure */
        /* From Parent Flex Box */
        /* As a Flex Box */
        justify-content: space-between;
    /* Style */
}

.intro {
    /* Structure */
        /* From Parent Flex Box */
        flex-grow: 1;
        /* As a Flex Box */
    /* Style */
    background-color: lightgrey;
}

.intro-text, .intro-image {
    /* Structure */
        /* From Parent Flex Box */
        flex-basis: 40%;
        /* As a Flex Box */
        display: flex;
        flex-direction: column;
    /* Style */
    border: 3px solid brown;
}

.logo {
    border-radius: 50%;
    width: 50px;
}


/* Structure */
    /* From Parent Flex Box */
    /* As a Flex Box */
/* Style */